.body {
  &_drop_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    &.active {
      border: 1px dashed #4991e5;
      background-color: #f5f9ff;
    }
    .description {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      span:nth-child(1) {
        margin-top: 10px;
        color: #324964;
      }
      span:nth-child(2) {
        margin: 5px 0;
        color: #6b85a3;
      }
      span:nth-child(3) {
        margin: 5px 0;
        color: #4991e5;
        cursor: pointer;
      }
    }
  }
}
.dragging_in_progress {
  pointer-events: none;
}
