.logo_uploader {
  font-family: Proxima Nova, sans-serif;
  background-color: white;
  border: 2px solid #e8f1fb;
  box-sizing: border-box;
  .header {
    padding: 0 20px 18px 20px;
    border-bottom: 2px solid #e8f1fb;
    &_title {
      margin-bottom: 7px;
      margin-top: 21px;
      font-size: 20px;
      color: #192533;
    }
    &_descr {
      font-size: 12px;
      color: #6b85a3;
    }
  }
  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30em;
  }
}